//- model,data
-
    var header = "#experience";
    var experienceList = [
        {
            title:'fs\dF',
            date:'2018',
            company:'gfsf',
            responsabilityList:[
                'responsability1',
                'responsability2'
            ]
        },
        {
            title:'fs\dF',
            date:'2018',
            company:'gfsf',
            responsabilityList:[
                'responsability1',
                'responsability2'
            ]
        }
    ];
    //- view, presentation
    //- css "+":checked
    //- input
    //- controlled container(div or whatever)

#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")
    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name", id=`experience-id--${key}`)
        label.experience__title(for=`experience-id--${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
            each responsability in experience.responsabilityList
                .experience__responsability=responsability